body, html {
	min-height: 100%;
	height: 100%;
}

a {
    display: block;
    width: 60px;
}

li {
    display: inline;
}

.img-circular{
	display: block;
    margin-left: auto;
    margin-right: auto;
 	width: 200px;
 	height: 200px;
	background-image: url('images/JustinYaDeau.jpg');
	background-size: cover;
	display: block;
	border-top-left-radius: 100px;
	-webkit-border-top-left-radius: 100px;
	-moz-border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
	-webkit-border-top-right-radius: 100px;
	-moz-border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	-webkit-border-bottom-left-radius: 100px;
	-moz-border-bottom-left-radius: 100px;
}

.title_div {
	height: 100%;
	background: url('images/main1.jpg');
	background-size: cover;
	background-attachment: scroll;
}

.contact_div {
	height: 100%;
	background-color: white;
	background-size: cover;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px rgba(0,0,0,.5);
	background-color: transparent;
	margin: 0px;
}

.input_box {
	border-radius: 20px;
	border: solid 2px;
	border-color: white;
	background-color: rgba(0,0,0,.2);
	text-align: center;
	color: white;
}

.content {
	text-shadow: 1px 1px rgba(0,0,0,1);
	color: white;
}
